{% extends 'exchange/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="row display-flex">
        <div class="col-sm-12">
            <h2 class="course-header">Listings for {{ course.code }}</h2>
        </div>
    {% if course.textbook_set.all %}
        {% for textbook in course.textbook_set.all %}
            <div class="col-sm-4 col-lg-3">
                <div class="thumbnail">
                    <a href="{% url 'exchange:book_details' pk=textbook.pk %}">
                        <img src="{{ textbook.cover_Image_URL }}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h4 class="price">${{ textbook.price }}</h4>
                        <h4>{{ textbook.title|truncatechars:24 }}</h4>
                        <p>{{ textbook.author|truncatechars:36 }}</p>
                        <a href="{% url 'exchange:book_details' pk=textbook.pk %}" class="btn btn-primary btn-sm" role="button">Details</a>
                    </div>
                </div>
            </div>
            <!--{% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}-->
        {% endfor %}
    {% else %}
        <div class="col-sm-12">
            <h3 class="course-header">No listings available</h3>
        </div>
    {% endif %}
    </div>

</div>
{% endblock %}